<?xml version="1.0"?>
<robot name="robotino" xmlns:xacro="http://wiki.ros.org/xacro">

   <!-- Instanciate and include the robotino_body -->
  <xacro:include filename="$(find robotino_description)/urdf/components/robotino_body.urdf.xacro"/>
  <xacro:robotino_body/>
  
   <!-- Instanciate and include the robotino_parts -->
  <xacro:include filename="$(find robotino_description)/urdf/components/robotino_parts.urdf.xacro"/>

  <xacro:wheel name="wheel0" parent="base_link">
    <origin xyz="0.065 0.11 0.04" rpy="0 0 1.04719666667"/>
    <axis xyz="-1 0 0"/>
  </xacro:wheel>

  <xacro:wheel name="wheel1" parent="base_link">
    <origin xyz="-0.13 0 0.04" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
  </xacro:wheel>

  <xacro:wheel name="wheel2" parent="base_link">
    <origin xyz="0.065 -0.11 0.04" rpy="0 0 -1.04719666667"/>
    <axis xyz="-1 0 0"/>
  </xacro:wheel>

  <xacro:command_bridge name="command_bridge" parent="base_link">
    <origin rpy="0 0 1.570795" xyz="-0.05 0 0.13"/>
  </xacro:command_bridge>

  <xacro:anglebracketusb name="anglebracketusb" parent="base_link">
    <origin rpy="0 0 1.570795" xyz="0.008 0 0.137"/>
  </xacro:anglebracketusb>

  <xacro:include filename="$(find robotino_description)/urdf/sensors/Sharp_IR_Sensor.urdf.xacro"/>
  <xacro:Ir_sensor name="ir1" parent="base_link">
    <origin rpy="0 0 0" xyz="0 -0.2264 0.0566" />
  </xacro:Ir_sensor>

</robot>
